<twig:Modal>
    {{ form_start(form) }}
    <div class="grid grid-cols-2 gap-4">
        <div class="col-span-2">{{ form_row(form.title) }}</div>
        <div>{{ form_row(form.project) }}</div>
        <div>{{ form_row(form.date) }}</div>
        <div>{{ form_row(form.spentHours) }}</div>
        <div>{{ form_row(form.estimatedHours) }}</div>
        <div class="col-span-2">{{ form_row(form.description) }}</div>
    </div>
    <div class="mt-6 flex justify-end gap-2">
        <twig:Button variant="ghost" type="button" data-action="modal#close">
            Cancel
        </twig:Button>
        {{ form_widget(form.save) }}
    </div>
    {{ form_end(form) }}
</twig:Modal>
