{% extends 'email/layout.html.twig' %}

{% block email_header %}
    <table>
        <tr>
            <td style="vertical-align:middle;">
                <div class="company-name">{{ company_name }}</div>
                {% if company_email %}
                    <div class="company-email">{{ company_email }}</div>
                {% endif %}
            </td>
            <td style="vertical-align:middle;">
                <div class="doc-type">QUOTE</div>
                <div class="doc-number">{{ quote.number }}</div>
            </td>
        </tr>
    </table>
{% endblock %}

{% block email_body %}
    <p style="color: #ffffff; font-weight: 500;">Dear {{ quote.customer.name }},</p>
    {% if quote.introText %}
        <p>{{ quote.introText }}</p>
    {% else %}
        <p>Please find your quote attached to this email.</p>
    {% endif %}

    <table class="summary-table">
        <tr>
            <td class="label">Quote number</td>
            <td class="val">{{ quote.number }}</td>
        </tr>
        <tr>
            <td class="label">Issue date</td>
            <td class="val">{{ quote.issuedAt|date('d.m.Y') }}</td>
        </tr>
        {% if quote.validUntil %}
            <tr>
                <td class="label">Valid until</td>
                <td class="val">{{ quote.validUntil|date('d.m.Y') }}</td>
            </tr>
        {% endif %}
        <tr class="total-row">
            <td>Total</td>
            <td>{{ quote.grossTotal|number_format(2, '.', ' ') }} {{ quote.currency }}</td>
        </tr>
    </table>

    <p style="margin-bottom: 8px;">If you have any questions, please don't hesitate to reach out.</p>
    <p style="margin-bottom: 0;">Best regards,<br><strong style="color:#ffffff;">{{ company_name }}</strong></p>
{% endblock %}

{% block email_footer %}
    {{ company_name }}{% if company_email %} &bull; {{ company_email }}{% endif %}
{% endblock %}
